In [4]:
import pandas as pd

In [5]:
prefix  = "../data/"

df_demographic = pd.read_csv(prefix+"DemographicData_ZCTAs.csv")
df_economic = pd.read_csv(prefix+"EconomicData_ZCTAs.csv")
df_geocode = pd.read_csv(prefix+"df_geocode.csv")
df_tests = pd.read_csv(prefix+"test_data.csv")
df_transactional = pd.read_csv(prefix+"transactional_data.csv")

## Sanity check df_demographic

In [8]:
df_demographic.head(5)

,Unnamed: 0,Id,GeographicAreaName,TotalPopulation,SexRatio(males per 100 females),Population_Under5Years,Population_5to9Years,Population_10to14Years,Population_15to19Years,Population_20to24Years,Population_25to34Years,Population_35to44Years,Population_45to54Years,Population_55to59Years,Population_60to64Years,Population_65to74Years,Population_75to84Years,Population_85YearsAndOver,MedianAgeInYears
0,0,8600000US35004,ZCTA5 35004,12045,94.1,805,1075,898,477,578,2088,1628,1200,886,683,1017,534,176,35.5
1,1,8600000US35005,ZCTA5 35005,7344,86.1,504,453,511,499,214,788,795,968,612,561,798,485,156,44.0
2,2,8600000US35006,ZCTA5 35006,2883,108.2,96,153,303,129,156,183,367,430,296,260,280,201,29,47.2
3,3,8600000US35007,ZCTA5 35007,26332,95.0,1936,1992,1837,1762,1376,3119,3849,3907,1665,1323,2096,1106,364,37.7
4,4,8600000US35010,ZCTA5 35010,20613,90.5,1306,1465,944,1217,1128,2513,2106,2950,1512,1472,2421,1155,424,42.6

Corrigindo o nome das colunas

In [17]:
df_demographic.columns = [x.replace(" ","").replace("(","_").replace(")","") for x in df_demographic.columns] # Renomeando as colunas

Descartando a coluna Unnamed:0, pois já o dataframe já contém index

In [44]:
df_demographic = df_demographic.iloc[:,1:]

Verificando as colunas com valores nulos

In [79]:
df_demographic.isnull().any()

Id                             False
GeographicAreaName             False
TotalPopulation                False
SexRatio_malesper100females     True
Population_Under5Years         False
Population_5to9Years           False
Population_10to14Years         False
Population_15to19Years         False
Population_20to24Years         False
Population_25to34Years         False
Population_35to44Years         False
Population_45to54Years         False
Population_55to59Years         False
Population_60to64Years         False
Population_65to74Years         False
Population_75to84Years         False
Population_85YearsAndOver      False
MedianAgeInYears                True
dtype: bool

In [78]:
print(f"Como vemos, cerca de {((100*df_demographic.isnull().values.ravel().sum())/df_demographic.shape[0]):.3f}\
% das {df_demographic.shape[0]} linhas contém dados nulos")

Como vemos, cerca de 3.228% das 33120 linhas contém dados nulos

Como não é possível obter os dados faltantes, as linhas que contém os dados faltantes serão excluidas do dataframe

In [56]:
df_demographic[df_demographic.isnull().any(axis=1)]

,Id,GeographicAreaName,TotalPopulation,SexRatio_malesper100females,Population_Under5Years,Population_5to9Years,Population_10to14Years,Population_15to19Years,Population_20to24Years,Population_25to34Years,Population_35to44Years,Population_45to54Years,Population_55to59Years,Population_60to64Years,Population_65to74Years,Population_75to84Years,Population_85YearsAndOver,MedianAgeInYears
5,8600000US35013,ZCTA5 35013,46,NaN,0,0,0,0,0,0,15,31,0,0,0,0,0,47.9
42,8600000US35074,ZCTA5 35074,99,86.8,0,0,0,0,0,99,0,0,0,0,0,0,0,NaN
47,8600000US35082,ZCTA5 35082,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
97,8600000US35187,ZCTA5 35187,6,100.0,0,0,0,0,0,0,0,0,0,0,6,0,0,NaN
142,8600000US35457,ZCTA5 35457,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32944,8600000US82845,ZCTA5 82845,28,86.7,0,0,0,0,0,0,0,0,0,15,13,0,0,NaN
32955,8600000US82936,ZCTA5 82936,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
32981,8600000US83121,ZCTA5 83121,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
33099,8600000US00950,ZCTA5 00950,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN
33100,8600000US00951,ZCTA5 00951,0,NaN,0,0,0,0,0,0,0,0,0,0,0,0,0,NaN